<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/fonts/sansumi/font.css"/>
    <link rel="stylesheet" href="/fonts/bitter/font.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <title>Nuclearsandwich!</title>
  </head>
  <body>
    <header>
      <h1>The Mad Ramblings of a Lunatic Hacker</h1>
      <h2>An Exercise in Wit or Vanity</h2>
    </header>
    {{{navigation}}}

    <div class="content">
      {{{content}}}
    </div>

    <footer>
      <p class="copyright">
        Copyright 2012 Steven! Ragnarök.
        All rights reserved.
      </p>
    </footer>
  </body>
</html>
